INST "*fft_wideband_real_*fft_biplex_real_4x_*" AREA_GROUP = "fft1_biplex";
AREA_GROUP "fft1_biplex" RANGE=SLICE_X124Y220:SLICE_X209Y310;
AREA_GROUP "fft1_biplex" RANGE=DSP48_X7Y88:DSP48_X13Y123;
AREA_GROUP "fft1_biplex" RANGE=RAMB18_X8Y88:RAMB18_X14Y123;
AREA_GROUP "fft1_biplex" RANGE=RAMB36_X8Y44:RAMB36_X14Y61;
INST "*fft_wideband_real_*fft_direct_*" AREA_GROUP = "fft1_direct";
AREA_GROUP "fft1_direct" RANGE=SLICE_X122Y218:SLICE_X209Y88;
AREA_GROUP "fft1_direct" RANGE=DSP48_X7Y36:DSP48_X13Y85;
AREA_GROUP "fft1_direct" RANGE=RAMB18_X7Y85:RAMB18_X14Y36;
AREA_GROUP "fft1_direct" RANGE=RAMB36_X7Y42:RAMB36_X14Y18;
INST "*fft_wideband_real1_*fft_direct_*" AREA_GROUP = "fft2_direct";
AREA_GROUP "fft2_direct" RANGE=SLICE_X0Y88:SLICE_X81Y219;
AREA_GROUP "fft2_direct" RANGE=DSP48_X0Y36:DSP48_X6Y87;
AREA_GROUP "fft2_direct" RANGE=RAMB18_X0Y36:RAMB18_X6Y87;
AREA_GROUP "fft2_direct" RANGE=RAMB36_X0Y18:RAMB36_X6Y43;
INST "*fft_wideband_real1_*fft_biplex_real_4x_*" AREA_GROUP = "fft2_biplex";
AREA_GROUP "fft2_biplex" RANGE=SLICE_X0Y220:SLICE_X83Y310;
AREA_GROUP "fft2_biplex" RANGE=DSP48_X0Y88:DSP48_X6Y123;
AREA_GROUP "fft2_biplex" RANGE=RAMB18_X0Y88:RAMB18_X6Y123;
AREA_GROUP "fft2_biplex" RANGE=RAMB36_X0Y44:RAMB36_X6Y61;
INST "*pfb_fir_real_*" AREA_GROUP = "pfb1";
AREA_GROUP "pfb1" RANGE=SLICE_X78Y305:SLICE_X209Y358;
AREA_GROUP "pfb1" RANGE=DSP48_X7Y122:DSP48_X13Y141;
AREA_GROUP "pfb1" RANGE=RAMB18_X6Y122:RAMB18_X14Y141;
AREA_GROUP "pfb1" RANGE=RAMB36_X6Y61:RAMB36_X14Y70;
INST "*pfb_fir_real1_*" AREA_GROUP = "pfb2";
AREA_GROUP "pfb2" RANGE=SLICE_X0Y305:SLICE_X125Y359;
AREA_GROUP "pfb2" RANGE=DSP48_X0Y122:DSP48_X6Y143;
AREA_GROUP "pfb2" RANGE=RAMB18_X0Y122:RAMB18_X7Y143;
AREA_GROUP "pfb2" RANGE=RAMB36_X0Y61:RAMB36_X7Y71;
INST "*hist_*" AREA_GROUP = "hist";
AREA_GROUP "hist" RANGE=SLICE_X68Y222:SLICE_X143Y323;
AREA_GROUP "hist" RANGE=DSP48_X6Y90:DSP48_X8Y127;
AREA_GROUP "hist" RANGE=RAMB18_X5Y90:RAMB18_X8Y127;
AREA_GROUP "hist" RANGE=RAMB36_X5Y45:RAMB36_X8Y63;
INST "*snap*" AREA_GROUP = "snaps";
AREA_GROUP "snaps" RANGE=SLICE_X72Y139:SLICE_X143Y220;
AREA_GROUP "snaps" RANGE=DSP48_X6Y56:DSP48_X8Y87;
AREA_GROUP "snaps" RANGE=RAMB18_X5Y56:RAMB18_X8Y87;
AREA_GROUP "snaps" RANGE=RAMB36_X5Y28:RAMB36_X8Y43;
INST "*vacc*" AREA_GROUP = "vacc";
AREA_GROUP "vacc" RANGE=SLICE_X70Y82:SLICE_X145Y140;
AREA_GROUP "vacc" RANGE=DSP48_X6Y34:DSP48_X9Y55;
AREA_GROUP "vacc" RANGE=RAMB18_X5Y34:RAMB18_X8Y55;
AREA_GROUP "vacc" RANGE=RAMB36_X5Y17:RAMB36_X8Y27;
